@import "~styles/color";
@import "~styles/layout";

%label-text {
  font-family: "Merriweather-Regular";
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.container {
  width: 100%;
  border-radius: 0.375rem;
  height: 3rem;
  outline: none;
  text-indent: 1rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.container:empty {
  background-color: $off-white;
  border: 1px solid $egg-white;
}

.container:focus {
  border: 1px solid $sky-blue;
  background-color: white;
}

.container:required {
  border: $red solid 1px;
  background-color: white;
}

.label {
  color: $darker-grey;
  @extend %label-text;
}

.requiredText {
  color: $red;
  @extend %label-text;
}
