@import "~styles/color";
@import "~styles/layout";

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @include fill-height;
}

@media screen and (max-width: $mobile-width) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  margin: 0 1.5rem;
  padding-top: 5rem;

  @media screen and (max-width: $mobile-width) {
    padding: 2rem;
  }

  > * {
    margin-bottom: 1.5rem;
  }

  > :last-child {
    margin-top: 1.5rem;
  }
}

.input-field {
  margin-bottom: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $cream-orange;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Roboto";
  border-radius: 0.375rem;
  border: none;
  height: 3rem;

  @media screen and (min-width: $mobile-width) {
    width: fit-content;
    padding: 0 2rem;
  }
}

.button:hover {
  background-color: $cream-orange-light;
}

.arrow {
  margin-left: 0.5rem;
  height: 0.625rem;
  width: 0.625rem;
}
