@import "~styles/color";
@import "~styles/layout";

%bold-white-font {
  font-family: "Roboto";
  font-weight: bold;
  color: white;
}

%margin-left {
  margin-left: 5rem;

  @media screen and (max-width: $mobile-width) {
    margin-left: 1rem;
  }
}

.container {
  flex: 1.5;
  background-color: $dark-grey;
  @include fill-height;

  @media screen and (max-width: $mobile-width) {
    flex: none;
    height: auto;
    min-height: unset;
    padding-bottom: 3rem;
  }
}

.title {
  @extend %bold-white-font;
  @extend %margin-left;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.logo {
  display: flex;
  @extend %margin-left;
  align-items: center;
  align-self: center;
  height: 1.625rem;
  pointer-events: none;
  margin-top: 2rem;
}

.message {
  @extend %margin-left;
  font-family: "Merriweather-Regular";
  font-size: 0.875rem;
  color: $egg-white;

  @media screen and (max-width: $mobile-width) {
  }
}
